.consultant{
    margin-top: 50px;
    max-width: 100vw;
    width: 100%;
    max-height: 100vh;
    color: var(--color-primary-light);
    .consultantBody {
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 40px;
        width: 100%;
        height: 100%;
        .menu{
            ul{
                background-color: #010121;
                width: 20%;
                height: 100%;
                min-width: 200px;
                list-style-type: none;
                padding: 1em;
                padding-top: 3em;
                color: #fff;
                li ul{
                    margin: 0;
                    padding: 0;
                    max-width: 100%;
    
                }
                li{
                    font-size: 10px;
                    height: 40px;
                    white-space: nowrap;

                    div{
                        display: flex;
                        align-items: center;
                        color: #fff;
                    }
                    svg{
                        width: 15px;
                        height: 15px;
                        color: #fff;
                        margin-right: 0.5em;
                    }
                }
                li .locate div,li .locate svg{
                    color: var(--color-primary-light);
                }
                .menu-menu{
                    margin-top: 1em;
                    margin-left: 1em;
                }
               
            }
            
            
        }
        .content{
            overflow-y: scroll;
            padding: 2em;
            padding-bottom: 5em;
        }
    }
    .contentF{
        overflow-y: scroll;
    }
    .consultant_title{
        font-size: 1em;
        font-weight: bold;
        width: 100%;
        padding-left: 1.5em;
        padding-top: 2em;
        padding-bottom: 1em;
        margin-bottom: 0.5em;
    }
    .consultanttop{
        margin-bottom: 15em;
    }
    .search_bar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
        width: 95%;
        padding: 1em;

        form {
            position: relative;
            width: 100%;
            border-radius: .6rem;
            border: 1px solid #ccc;
            max-height: 50px;
        }

        input {
            height: 30px;
            font-family:  'Lato', sans-serif;;
            border: 0;
            color: #2f2f2f;
        }
        input[type="search"] {
            outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
            width: 100%;
            background:  #fff;
            padding: 0 1.6rem;
            border-radius: .5rem;
            appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
            transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);;
            transition-property: width, border-radius;
            z-index: 1;
            position: relative;
        }
       
        .search_result{
            width: 100%;
            display: flex;
            align-items: center;
        }
          
        ul{
            width: 99%;
            //border: 1px solid #ccc;
            border-top: none;
            border-radius: 5px;
            li{
                cursor: pointer;
                height: 30px;
                width: 100%;
                .url{
                    min-width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                }
            }
            li:hover{
                background-color: rgb(168, 189, 243);
            }
        }
    }
    .consultant_bottom{
        @media screen and (max-width:850px){   
           margin-top: 10em;
        }
    }
    .infos{
        width: 90%;
        margin: 2em auto;
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--color-primary-light);
        text-align: justify;
        @media screen and (max-width:850px){   
            flex-direction: column  ;
        }
        
        .flex{
            display: flex;
        }
        .info_img{
            background-color: #999;
        }
        table{
            width: 30vw;
            height: 100%;
            position: relative;
            min-height: 230px;
            margin-left: 1em;
            @media screen and (max-width:850px){
                margin-left: 0;
                margin-top: 1em;
                width: 95%;
            }
            thead{
                color: transparent;
                min-height: 40px;
                background-color: var(--color-primary-light);
            }
            tr{
                border-top: 1px solid var(--color-primary-light);
                border-left: 1px solid var(--color-primary-light);
                td{
                    padding-left: 0.5em;
                    padding-right: 0.5em;    
                }
                .right{
                    text-align: right;
                }
            }
            .light{
                background-color: #d8e2f3;
            }
        }
        .info{
            padding: 1em;
            width: max-content;
            height: 100%;
            
            .row{
                
                display: flex;
                flex-direction: column;
                background-color: grey;
                justify-content: space-between;
            }
        }
    }

    .Table{
        width: 90vw;
        color: var(--color-primary-light);
        td,th{
            color: var(--color-primary-light);
        }
    }
    
    .etiquettes{
        margin: 2em auto;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        a{
            margin: 1em;

        }
    }
  
    .maps{
        width: 30vw;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    .btn{
        margin: 1em; 
        margin-left: 0;                   
        min-width: 100px;
        background-color: var(--color-primary-light);
        height: 40px;
        color: #fff;
    }

   
    .alertNegatif,.alertPositif{
        position: fixed;
        z-index: 2;
        width: 95%;
        margin: 0 auto;
        background-color: green;
        color: #fff;
        display: flex;
        align-items: center;
        .alertText{
            display: flex;
            align-items: center;
            padding: 1em;
        }
        .close{
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .alertPositif{
        background-color: green;
    }
    .alertNegatif{
        background-color: rgb(219, 12, 12);
    }
    .stats{
        max-width: 300px;
        margin: 2em auto;
    }

    .ovelay{

        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
        height: max-content;
        background-color: rgba(0, 0, 0, 0.356);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @media screen and (max-width:850px){   
            padding: 1em;
        }
        .container{
            min-width: 70%;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;

            .container_title{
                z-index: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                width: 100%;
                padding: 1em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .close{
                    cursor: pointer;
                    height: 100%;
                    width: 40px;
                    @media screen and (max-width:850px){   
                        margin-left: 0.5em;
                    }
                }
                .close:hover{
                    color: green;
                }
            }
            form{
                padding: 2em;
                overflow-y: scroll;
                max-height: 70vh;
                input,select{
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                }
            }
            form::-webkit-scrollbar {
                width: 2px;
            }
            form::-webkit-scrollbar-thumb {
                background: var(--color-primary-light);
                padding-right: 2px;

            }
        }
       

        .title{  
            color: var(--color-primary-light) ;
            border-bottom: 2px solid #d8e2f3;
            margin-bottom: 1em;
        }

        input[type="text"],select{
            //background-color:#d8e2f3;
            outline: none;
            border:1px solid #ccc;
            margin: 2px;
            color: #000;
            padding: 0.5em;
        }
        

        .right{
            width: right;
        }
        
      
       
    }

    .consultant_create_btn{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
   
    }

}